Clase 14 - 23 Abril 2024/United_States_COVID-19_County_Level_of_Community_Transmission_as_Originally_Posted_-_ARCHIVED.csv
Clase 17-03 May 2024/project/__pycache__
Clase 17-03 May 2024/project/app/__pycache__
Clase 17-03 May 2024/project/app/__pycache__
Clase 17-03 May 2024/project/app/models/__pycache__
**/__pycache__
**/myenv